@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: gray;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burguer {
    display: block;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: rgb(185, 184, 184);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center; 
    background-color: rgb(93, 93, 93);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: rgb(151, 150, 150);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    padding-bottom: 20px;
    text-indent: 20px;
}





