*{
        background-color: black;
        margin: 0px;
        padding: 0;
    }

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    body::-webkit-scrollbar {
    display: none;
    }

    img{
        width: 100%;

    }

    button{
        border: none;
        height: 40px;
        width: 100vw;
        background-color: rgb(70, 67, 250);
    }

    button a{
        text-decoration: none;
        background-color: transparent;
        color: white;
        font-size: 20px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
    }