@charset "UTF-8";

body{
    margin: 0;
    font-family: Arial, sans-serif;

    background-color: #434242;
    background: url("imagens/fundo-madeira.jpg") center / cover no-repeat;
    height: 100vh;

    display: flex;
    flex-direction: row-reverse;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.menu{
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
}

.menu img:hover{
    transform: scale(1.3);
}

.menu img{
    width: 50px;
    height: auto;
    margin: 10px;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

main img{
    height: 95vh;
    display: block;
}

.container{
    position: relative;
}

iframe{
    position: absolute;
    top: 12%;
    left: 7%;
    width: 86%;
    height: 76%;
    border: none;
    background-size: cover; 
}